#portal .container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 299;
}

.container .modal {
  z-index: 300;
  width: 43.75rem;
  height: fit-content;
  background: white;
  border-radius: 0.3125rem;
  position: relative;
  animation: animate 0.5s;
  padding-bottom: 1rem;
}

.modal-button {
  position: absolute;
  top: 0.4375rem;
  right: 0.4375rem;
  padding: 0.5rem 0.6875rem;
  background: crimson;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 0.125rem;
  cursor: pointer;
}

@keyframes animate {
  from {
    opacity: 0;
    top: -12.5rem;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
