.admin-navbar {
  left: 0;
  padding: 1rem;
  position: absolute;
  z-index: 50;
}

.admin-navbar a {
  border-bottom: 0.1875rem solid transparent;
  color: rgba(127, 127, 127, 1);
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.15rem;
  margin: 1rem 0;
  text-decoration: none;
  text-indent: 0.3rem;
  transition: all 0.5s ease-in-out;
}

.admin-navbar a:hover {
  transform: translateY(-0.375rem);
}

.admin-navbar a.active {
  border-bottom: 0.125rem solid rgba(127, 127, 127, 1);
  transition: all 0.5s ease-in-out;
}
