.treatment {
  font-size: larger;
  margin: 0.5em;
  min-height: 3em;
  text-align: center;
}

.treatment p span {
  font-size: medium;
}

.treatment-type,
.treatment-price {
  width: 33%;
}

.treatment-separator {
  border-bottom: 0.0625rem solid #aaa;
  bottom: 0.65em;
  position: relative;
  width: 100%;
}

.treatment-desc {
  font-size: small;
  margin: 0 auto;
  text-align: left;
  width: 60%;
}

.treatment-duration {
  float: right;
  position: relative;
}

.treatment .plus-button {
  bottom: 0.65em;
  left: 0.4em;
  position: relative;
}
