.treatment {
  text-align: center;
  font-size: larger;
  margin: 0.5em;
  min-height: 3em;
}

.treatment p span {
  font-size: medium;
}

.treatment-type,
.treatment-price {
  width: 33%;
}

.treatment-separator {
  width: 100%;
  border-bottom: 1px solid #aaa;
  position: relative;
  bottom: 0.65em;
}

.treatment-desc {
  width: 60%;
  margin: 0 auto;
  font-size: small;
  text-align: left;
}

.treatment-duration {
  position: relative;
  float: right;
}

.treatment .plus-button {
  position: relative;
  bottom: 0.65em;
  left: 0.4em;
}
