input[type="date"] {
  font-size: 1.5rem;
}

.custom-date-label {
  margin-right: 1em;
}

.error-message {
  align-items: center;
  background: #d30909;
  color: #fff;
  display: flex;
  font-size: 0.75rem;
  height: 1.5rem;
  padding: 0 0.5rem;
}
