.admin-dashboard {
  margin:2rem auto 0 auto;
  width: 60%;
}

.summary-box {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em;
  width: 40%;
}

.summary-box h2 {
  padding: 0;
  margin: 0;
}

.data-figure {
  float: right;
}