.polaroid-wrapper {
  width: 15rem;
}

.polaroid {
  background-color: white;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
  width: 80%;
}

.gallery-img {
  width: 100%;
}

.polaroid-container {
  padding: 0.625rem 1.25rem;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .polaroid {
    width: 100%;
  }

  .polaroid-container {
    margin: 2rem 0;
  }
}
