@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid rgba(183, 110, 121, 0.1);
  border-top: 10px solid rgba(183, 110, 121, 1);
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
  position: relative;
}

.loading-spinner-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.loading-text {
  color: rgba(183, 110, 121, 0.5);
}