.cancel-booking {
  text-align: center;
}

.modal-content-btns {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 900px) {
  #reference {
    width: calc(100% - 1rem);
  }
}