.footer {
  background-color: var(--neutral-color);
  padding-top: 3em;
  position: relative;
  z-index: 100;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  border-bottom: 0.0975rem solid rgba(127, 127, 127, 0.3);
}

.footer-items-wrapper {
  display: flex;
  justify-content: center;
}

.footer-brand {
  max-width: 11.25rem;
  min-width: 11.25rem;
  margin: 0.5rem 2rem 0rem 1rem;
}

.footer-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.footer-item {
  margin: 1rem;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.15rem;
  font-weight: 500;
  text-indent: 0.3rem;
  color: rgba(127, 127, 127, 1);
  border-bottom: 0.0975rem solid transparent;
  transition: all 0.5s ease-in-out;
}

.footer-item:hover {
  transform: translateY(-0.375rem);
}

.footer-item.active {
  border-bottom: 0.125rem solid rgba(127, 127, 127, 1);
  transition: all 0.5s ease-in-out;
}
