.custom-field {
  border-top: 1.25rem solid transparent;
  font-size: 0.875rem;
  margin-bottom: -0.625rem;
  position: relative;
}

.custom-field textarea {
  appearance: none;
  border: none;
  border-radius: 0.1875rem;
  background: #f2f2f2;
  cursor: text;
  font-size: 0.875rem;
  padding: 0.75rem;
  width: 100%;
}

.custom-field .placeholder {
  bottom: 50%;
  color: #aaa;
  cursor: text;
  height: fit-content;
  left: 0.75rem;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 1.25rem;
  transform: translateY(-50%);
  transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
  white-space: nowrap;
  width: calc(100% - 1.5rem);
}

.custom-field textarea:focus + .placeholder {
  color: #222;
  font-size: 0.625rem;
  top: -0.625rem;
}

.custom-field .has-content,
.custom-field
  textarea:not(:placeholder-shown)
  + .placeholder
  .custom-field
  textarea:focus
  + .placeholder {
  color: #222;
  font-size: 0.625rem;
  top: -0.625rem;
}

.custom-field .has-content .custom-field + textarea {
  cursor: text;
}

.custom-field .error-message {
  align-items: center;
  background: #d30909;
  color: #fff;
  display: flex;
  font-size: 0.75rem;
  height: 1.5rem;
  padding: 0 0.5rem;
  width: 100%;
}

.custom-field .error-message:empty {
  opacity: 0;
}
