.treatment-form {
  margin: 0 auto;
  width: 40%;
}

.center-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-content > *:not(:first-child) {
  margin-top: 1em;
}
