.appointment-booker {
  display: flex;
  justify-content: space-evenly;
}

header p {
  padding: 0;
  margin: 0;
}

.booker-header {
  margin-top: 1rem;
}

.select-time-header {
  margin-left: 8.75rem;
}

.time-slot {
  align-items: center;
  background-color: rgba(183, 110, 121, 0.1);
  border-radius: 0.25rem;
  box-shadow: none;
  cursor: pointer;
  display: flex;
  font-size: 1.25em;
  font-weight: 700;
  height: 3.75rem;
  justify-content: center;
  margin: 1.25rem;
  text-align: center;
  transition: all 0.3s ease-in;
  width: 15rem;
}

.available-times {
  min-height: 13rem;
}

.time-slot:hover {
  background-color: rgba(183, 110, 121, 0.2);
}

.selected-time {
  box-shadow: 0 0 0 0.3125rem #d1a7a7;
}

.times-action-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.appointment-form {
  width: 15rem;
}
