.calendar {
  background: var(--neutral-color);
  border-top: 0.0625rem solid var(--border-color);
  display: block;
  position: relative;
  width: 100%;
}

.calendar .header {
  border-bottom: 0.0625rem solid var(--calender-border-color);
  font-size: 115%;
  font-weight: 700;
  padding: 1.5rem 0;
  text-transform: uppercase;
}

.calendar .header .icon {
  cursor: pointer;
  transition: 0.15s ease-out;
}

.calendar .header .icon:hover {
  color: var(--main-color);
  transform: scale(1.75);
  transition: 0.25s ease-out;
}

.calendar .header .icon:first-of-type {
  margin-left: 1rem;
}

.calendar .header .icon:last-of-type {
  margin-right: 1rem;
}

.calendar .days {
  border-bottom: 0.0625rem solid var(--calender-border-color);
  color: var(--text-color-light);
  font-size: 70%;
  font-weight: 400;
  padding: 0.75rem 0;
  text-transform: uppercase;
}

.calendar .body .cell {
  background: var(--neutral-color);
  border-right: 0.0625rem solid var(--calender-border-color);
  cursor: pointer;
  height: 5rem;
  overflow: hidden;
  position: relative;
  transition: 0.25s ease-out;
}

.calendar .body .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

.calendar .body .selected {
  border-image: linear-gradient(
    45deg,
    rgba(183, 110, 121, 1) 0%,
    rgba(183, 110, 121, 0.2) 40%
  );
  border-image-slice: 1;
  border-left: 0.6125rem solid transparent;
}

.calendar .body .row {
  border-bottom: 0.0625rem solid var(--calender-border-color);
}

.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .cell .number {
  font-size: 82.5%;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .body .cell .bg {
  color: var(--main-color);
  font-size: 7.25rem;
  font-weight: 700;
  letter-spacing: -0.07em;
  line-height: 1;
  opacity: 0;
  position: absolute;
  right: -0.05rem;
  top: -1.4rem;
  transition: 0.25s ease-out;
}

.calendar .body .cell:hover .bg,
.calendar .body .selected .bg {
  opacity: 0.15;
  transition: 0.5s ease-in;
}

.calendar .body .col {
  flex-basis: calc(100% / 7);
  flex-grow: 0;
  width: calc(100% / 7);
}

.icon {
  direction: ltr;
  display: inline-block;
  font-family: "Material Icons", serif;
  font-feature-settings: "liga";
  font-style: normal;
  letter-spacing: normal;
  line-height: 1;
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.calendar-wrapper {
  border: 1px solid rgba(183, 110, 121, 1);
  margin: 20px 10% 0 10%;
}

@media only screen and (max-width: 1100px) {
  .calendar-wrapper {
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  .calendar .body .cell .bg {
    font-size: 3.5rem;
    top: 1.9rem;
  }

  .calendar .body .selected {
    border-left: none;
  }
}
