.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0.25rem;
  background-color: var(--neutral-color);
  border-bottom: 0.1875rem solid rgba(127, 127, 127, 0.3);
  z-index: 100;
  position: relative;
}

.navbar-items-wrapper {
  display: flex;
  justify-content: center;
}

.navbar-brand {
  max-width: 11.25rem;
  min-width: 11.25rem;
  margin: 0.5rem 2rem 0rem 1rem;
}

.navbar-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.navbar-item {
  margin: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.15rem;
  font-weight: 500;
  text-indent: 0.3rem;
  color: rgba(127, 127, 127, 1);
  border-bottom: 0.1875rem solid transparent;
  transition: all 0.5s ease-in-out;
}

.navbar-item:hover {
  transform: translateY(-0.375rem);
}

.navbar-item.active {
  border-bottom: 0.25rem solid rgba(127, 127, 127, 1);
  transition: all 0.5s ease-in-out;
}
