.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0.25rem;
  background-color: var(--neutral-color);
  border-bottom: 0.1875rem solid rgba(127, 127, 127, 0.3);
  z-index: 100;
  position: relative;
}

.desktop-navbar {
  display: flex;
  justify-content: center;
}

.navbar-brand {
  max-width: 11.25rem;
  min-width: 11.25rem;
  margin: 0.5rem 2rem 0rem 1rem;
}

.navbar-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.navbar-item {
  cursor: pointer;
  text-decoration: none;
  text-indent: 0.3rem;
  font-weight: 500;
  color: rgba(127, 127, 127, 1);
}

.desktop-navbar .navbar-item {
  margin: 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  border-bottom: 0.1875rem solid transparent;
  transition: all 0.5s ease-in-out;
}

.desktop-navbar .navbar-item:hover {
  transform: translateY(-0.375rem);
}

.desktop-navbar .navbar-item.active {
  border-bottom: 0.25rem solid rgba(127, 127, 127, 1);
  transition: all 0.5s ease-in-out;
}

.mobile-navbar .navbar-item.active {
  border-bottom: 0.125rem solid rgba(127, 127, 127, 1);
  transition: all 0.5s ease-in-out;
}

.navbar-hamburger {
  width: 3.75em;
  height: 3.75em;
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.navbar-hamburger.active span:first-child,
.navbar-hamburger.active span:last-child {
  width: 4em;
}

.navbar-hamburger.active span:first-child {
  -webkit-transform: rotate(135deg) translate(0.3rem, -0.3rem);
  -moz-transform: rotate(135deg) translate(0.3rem, -0.3rem);
  -o-transform: rotate(135deg) translate(0.3rem, -0.3rem);
  transform: rotate(135deg) translate(0.3rem, -0.3rem);
}

.navbar-hamburger.active span:last-child {
  -webkit-transform: rotate(-135deg) translate(0.25rem, 0.25rem);
  -moz-transform: rotate(-135deg) translate(0.25rem, 0.25rem);
  -o-transform: rotate(-135deg) translate(0.25rem, 0.25rem);
  transform: rotate(-135deg) translate(0.25rem, 0.25rem);
}

.navbar-hamburger.active span:nth-child(2) {
  display: none;
}

.navbar-hamburger span {
  display: block;
  margin: 0.25rem;
  height: 0.3rem;
  width: 3rem;
  background-color: var(--main-color);
  border-radius: 0.5rem;
  transition: 0.5s ease-in-out;
}

.navbar-dropdown {
  animation-name: floatIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  right: 0;
  width: 100vw;
  background-color: #fff;
  z-index: -1;
}

@keyframes floatIn {
  from {
    opacity: 0;
    top: 6.7rem;
  }
  to {
    opacity: 1;
    top: 7.7rem;
  }
}

@media only screen and (max-width: 1100px) {
  .navbar {
    justify-content: space-between;
  }
  .desktop-navbar {
    display: none;
  }
}

@media screen and (min-width: 1100px) {
  .mobile-navbar {
    display: none;
  }
}
