.contact-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0.625rem;
}

.contact-form {
  margin-top: 0.625rem;
  width: 28rem;
}

.contact-title {
  border-bottom: 0.25rem solid rgba(127, 127, 127, 1);
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.form-button {
  display: flex;
  justify-content: center;
}

.contact-btn {
  background-color: rgba(183, 110, 121, 1);
  border: none;
  bottom: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 0.9375rem 2rem;
  position: relative;
  text-align: center;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .contact-form {
    width: calc(100% - 1rem);
  }
}
