input[type="time"] {
  font-size: 1.5rem;
}

.custom-time-label {
  bottom: -0.3em;
  margin-right: 1em;
  position: relative;
}

.error-message {
  align-items: center;
  background: #d30909;
  color: #fff;
  display: flex;
  font-size: 0.75rem;
  height: 1.5rem;
  padding: 0 0.5rem;
}
