.btn, .custom-link {
  background-color: rgba(183, 110, 121, 1);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  bottom: 0px;
}

.custom-link {
  padding: 5px 8px;
  border-radius: 6px;
}

.btn {
  padding: 15px 32px;
  border-radius: 5px;
}

.cancel-btn {
  background-color: rgba(183, 110, 121, 0.6);
  padding: 10px 24px;
  margin-top: 10px;
}

.btn:hover, .custom-link:hover {
  bottom: 5px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

svg {
  height: 2em;
  width: 2em;
  margin: 0.5em;
  color: rgba(183, 110, 121, 1);
}

.title {
  font-size: 1.5em;
  font-weight: 500;
}

.sub-title {
  font-size: 1.25em;
  font-weight: 400;
}
