*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

:root {
  --border-color: #eee;
  --bg-color: #fff;
  --calender-border-color: rgba(183, 110, 121, 1);
  --main-color: rgba(183, 110, 121, 1);
  --neutral-color: #fff;
  --text-color: #777;
  --text-color-light: #ccc;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body section:first,
html {
  background-color: #fff;
  min-height: fit-content;
}
