*,
*::before,
*::after {
  box-sizing: border-box;
}

.title {
  font-size: 1.5em;
  font-weight: 500;
}

.sub-title {
  font-size: 1.25em;
  font-weight: 400;
}

.img-responsive {
  width: 100%;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #fff;
}

.text-error {
  color: #d30909;
}

.pad-left-18 {
  padding-left: 18%;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.no-pad-margin {
  padding: 0;
  margin: 0;
}

svg {
  height: 2em;
  width: 2em;
  margin: 0.5em;
  color: rgba(183, 110, 121, 1);
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.hidden {
  display: none;
}

.spinner-grow-sm {
  width: 1rem;
  height: 1rem;
}

.spinner-grow {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -0.125em;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: 0.75s linear infinite spinner-grow;
  animation: 0.75s linear infinite spinner-grow;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mt-3 {
  margin-top: 3em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mb-3 {
  margin-bottom: 3em;
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 500ms;
  transition-timing-function: ease-in;
  position: relative;
}

@keyframes fadeIn {
  0% {
    bottom: 2em;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    bottom: 2em;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    bottom: 2em;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    bottom: 2em;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    bottom: 2em;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
.delay-200 {
  animation-delay: 200ms;
}

.delay-400 {
  animation-delay: 400ms;
}
.delay-600 {
  animation-delay: 600ms;
}
.delay-800 {
  animation-delay: 800ms;
}
.delay-1000 {
  animation-delay: 1000ms;
}
