*, *::before, *::after {
  box-sizing: border-box;
}

.title {
  font-size: 1.5em;
  font-weight: 500;
}

.sub-title {
  font-size: 1.25em;
  font-weight: 400;
}

.img-responsive {
  width: 100%;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #fff;
}

.text-error {
  color: #d30909;
}

.pad-left-18 {
  padding-left: 18%;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.no-pad-margin {
  padding: 0;
  margin: 0;
}

svg {
  height: 2em;
  width: 2em;
  margin: 0.5em;
  color: rgba(183, 110, 121, 1);
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.hidden {
  display: none;
}