/* SIZE UTILTIES*/
.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.h-100 {
  height: 100%;
}

.h-75 {
  height: 75%;
}

.h-50 {
  height: 50%;
}

.h-25 {
  height: 25%;
}
/* END OF SIZE */

/* MARGIN UTILTIES */
.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mt-3 {
  margin-top: 3em;
}

.mr-1 {
  margin-right: 1em;
}

.mr-2 {
  margin-right: 2em;
}

.mr-3 {
  margin-right: 3em;
}

.ml-1 {
  margin-left: 1em;
}

.ml-2 {
  margin-left: 2em;
}

.ml-3 {
  margin-left: 3em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mb-3 {
  margin-bottom: 3em;
}
/* END OF MARGIN */

/* FLOAT UTILTIES */
.float-right {
  float: right;
}

.float-left {
  float: left;
}
/* END OF FLOAT */

/* DISPLAY UTILTIES */
.hidden {
  display: none;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.inline-block {
  display: inline-block;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-auto {
  overflow: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}
/* END OF DISPLAY */

/* PADDING UTILITIES */
.no-pad-margin {
  padding: 0;
  margin: 0;
}

.pad-left-18 {
  padding-left: 18%;
}
/* END OF PADDING */

/* TEXT COLOUR UTILITIES */
.text-white {
  color: #fff;
}

.text-error {
  color: #d30909;
}
/* END OF TEXT COLOUR  */

/* IMAGE UTILITIES */
.img-responsive {
  width: 100%;
}
/* END OF IMAGE */

/* TEXT ALIGNMENT UTILITES */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
/* END OF TEXT ALIGNMENT */

/* GRID */
.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}
/* END OF GRID */

/* JUSTIFY CONTENT UTILITIES */
.justify-center {
  justify-content: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: start;
}

.justify-flex-start {
  justify-content: flex-start;
}
/* END OF JUSTIFY */

/* PLACE UTILITIES */
.place-center {
  place-items: center;
}
/* END OF PLACE */

/* ALIGN UTILITIES */
.align-center {
  align-items: center;
}
/* END OF ALIGN */

/* FONT WEIGHT UTILITIES */
.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}
/* END OF FONT WEIGHT */
